/* ===Login-Page-Text-Content=== */
@-webkit-keyframes fade-in-top {
        0% {
                -webkit-transform: translateY(-50px);
                        transform: translateY(-50px);
                opacity: 0;
        }
        100% {
                -webkit-transform: translateY(0);
                        transform: translateY(0);
                opacity: 1;
        }
}
@keyframes fade-in-top {
        0% {
                -webkit-transform: translateY(-50px);
                        transform: translateY(-50px);
                opacity: 0;
        }
        100% {
                -webkit-transform: translateY(0);
                        transform: translateY(0);
                opacity: 1;
        }
}
/* ===Login-Page-Text-Content-Border=== */
@keyframes glow-border {
        0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
        }	
        100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
        }
}

/* ===Login-Page-Dev-Illustration=== */
@-webkit-keyframes scale-in-ver-bottom {
        0% {
                -webkit-transform: scaleY(0);
                        transform: scaleY(0);
                -webkit-transform-origin: 0% 100%;
                        transform-origin: 0% 100%;
                opacity: 1;
        }
        100% {
                -webkit-transform: scaleY(1);
                        transform: scaleY(1);
                -webkit-transform-origin: 0% 100%;
                        transform-origin: 0% 100%;
                opacity: 1;
        }
}
@keyframes scale-in-ver-bottom {
        0% {
                -webkit-transform: scaleY(0);
                        transform: scaleY(0);
                -webkit-transform-origin: 0% 100%;
                        transform-origin: 0% 100%;
                opacity: 1;
        }
        100% {
                -webkit-transform: scaleY(1);
                        transform: scaleY(1);
                -webkit-transform-origin: 0% 100%;
                        transform-origin: 0% 100%;
                opacity: 1;
        }
}

/* ===Login-Page-Login/SignUp Button=== */
@-webkit-keyframes bounce-in-left {
        0% {
                -webkit-transform: translateX(-600px);
                        transform: translateX(-600px);
                -webkit-animation-timing-function: ease-in;
                        animation-timing-function: ease-in;
                opacity: 0;
        }
        38% {
                -webkit-transform: translateX(0);
                        transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
                opacity: 1;
        }
        55% {
                -webkit-transform: translateX(-68px);
                        transform: translateX(-68px);
                -webkit-animation-timing-function: ease-in;
                        animation-timing-function: ease-in;
        }
        72% {
                -webkit-transform: translateX(0);
                        transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
        }
        81% {
                -webkit-transform: translateX(-28px);
                        transform: translateX(-28px);
                -webkit-animation-timing-function: ease-in;
                        animation-timing-function: ease-in;
        }
        90% {
                -webkit-transform: translateX(0);
                        transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
        }
        95% {
                -webkit-transform: translateX(-8px);
                        transform: translateX(-8px);
                -webkit-animation-timing-function: ease-in;
                        animation-timing-function: ease-in;
        }
        100% {
                -webkit-transform: translateX(0);
                        transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
        }
}
@keyframes bounce-in-left {
        0% {
                -webkit-transform: translateX(-600px);
                        transform: translateX(-600px);
                -webkit-animation-timing-function: ease-in;
                        animation-timing-function: ease-in;
                opacity: 0;
        }
        38% {
                -webkit-transform: translateX(0);
                        transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
                opacity: 1;
        }
        55% {
                -webkit-transform: translateX(-68px);
                        transform: translateX(-68px);
                -webkit-animation-timing-function: ease-in;
                        animation-timing-function: ease-in;
        }
        72% {
                -webkit-transform: translateX(0);
                        transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
        }
        81% {
                -webkit-transform: translateX(-28px);
                        transform: translateX(-28px);
                -webkit-animation-timing-function: ease-in;
                        animation-timing-function: ease-in;
        }
        90% {
                -webkit-transform: translateX(0);
                        transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
        }
        95% {
                -webkit-transform: translateX(-8px);
                        transform: translateX(-8px);
                -webkit-animation-timing-function: ease-in;
                        animation-timing-function: ease-in;
        }
        100% {
                -webkit-transform: translateX(0);
                        transform: translateX(0);
                -webkit-animation-timing-function: ease-out;
                        animation-timing-function: ease-out;
                }
}

@keyframes moveForwardBack {
        0% {
        transform: translateX(0);
        }
        50% {
        transform: translateX(10px);
        }
        100% {
        transform: translateX(0);
        }
}

/* ===Scroll-Btn=== */
@keyframes movebtn {
        0%{
                transform: translateY(0px);
        }
        25%{
                transform: translateY(20px);
        }
        50%{
                transform: translateY(0px);
        }
        75%{
                transform: translateY(-20px);
        }
        100%{
                transform: translateY(0px);
        }
}

/* ===Book-Filter-Glow=== */
@keyframes glow-btn {
        0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
        }	
        100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
        }
}

/* ===Footer-Form-Input-Glow=== */
@keyframes glow-input {
        0% {
        border-color: #393;
        box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
        }	
        100% {
        border-color: #6f6;
        box-shadow: 0 0 20px rgba(0,255,0,.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
        }
}

@keyframes glow-invalid-input {
        0% {
        border-color: rgb(239, 25, 10);
        box-shadow: 0 0 5px rgba(255, 8, 0, 0.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;
        }	
        100% {
        border-color: rgb(207, 103, 95);
        box-shadow: 0 0 20px rgba(222, 114, 114, 0.6), inset 0 0 10px rgba(0,255,0,.4), 0 2px 0 #000;
        }
}

/* ===Footer-Form-Envelope=== */
@-webkit-keyframes slide-out-bck-top {
        0% {
        -webkit-transform: translateZ(1) translateY(0);
        transform: translateZ(1) translateY(0);
        opacity: 1;
        }
        100% {
        -webkit-transform: translateZ(-1100px) translateY(-1000px);
        transform: translateZ(-1100px) translateY(-1000px);
        opacity: 0;
        }
}
@keyframes slide-out-bck-top {
        0% {
        -webkit-transform: translateZ(1) translateY(0);
        transform: translateZ(1) translateY(0);
        opacity: 1;
        }
        100% {
        -webkit-transform: translateZ(-1100px) translateY(-1000px);
        transform: translateZ(-1100px) translateY(-1000px);
        opacity: 0;
        }
}

/* ===Book-Reader-Iframe-Loader-Animation=== */
@keyframes cover {
	from, 5%, 45%, 55%, 95%, to {
		animation-timing-function: ease-out;
		background-color: var(--primary-l);
	}
	10%, 40%, 60%, 90% {
		animation-timing-function: ease-in;
		background-color: var(--primary-d);
	}
}
@keyframes shadow {
	from, 10.01%, 20.01%, 30.01%, 40.01% {
		animation-timing-function: ease-in;
		transform: translate3d(0,0,1px) scaleY(0) rotateY(0);
	}
	5%, 15%, 25%, 35%, 45%, 55%, 65%, 75%, 85%, 95% {
		animation-timing-function: ease-out;
		transform: translate3d(0,0,1px) scaleY(0.2) rotateY(90deg);
	}
	10%, 20%, 30%, 40%, 50%, to {
		animation-timing-function: ease-out;
		transform: translate3d(0,0,1px) scaleY(0) rotateY(180deg);
	}
	50.01%, 60.01%, 70.01%, 80.01%, 90.01% {
		animation-timing-function: ease-in;
		transform: translate3d(0,0,1px) scaleY(0) rotateY(180deg);
	}
	60%, 70%, 80%, 90%, to {
		animation-timing-function: ease-out;
		transform: translate3d(0,0,1px) scaleY(0) rotateY(0);
	}
}
@keyframes pg1 {
	from, to {
		animation-timing-function: ease-in-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(0.4deg);
	}
	10%, 15% {
		animation-timing-function: ease-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(180deg);
	}
	20%, 80% {
		animation-timing-function: ease-in;
		background-color: var(--white-d);
		transform: translate3d(0,0,1px) rotateY(180deg);
	}
	85%, 90% {
		animation-timing-function: ease-in-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(180deg);
	}
}
@keyframes pg2 {
	from, to {
		animation-timing-function: ease-in;
		background-color: var(--white-d);
		transform: translate3d(0,0,1px) rotateY(0.3deg);
	}
	5%, 10% {
		animation-timing-function: ease-in-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(0.3deg);
	}
	20%, 25% {
		animation-timing-function: ease-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(179.9deg);
	}
	30%, 70% {
		animation-timing-function: ease-in;
		background-color: var(--white-d);
		transform: translate3d(0,0,1px) rotateY(179.9deg);
	}
	75%, 80% {
		animation-timing-function: ease-in-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(179.9deg);
	}
	90%, 95% {
		animation-timing-function: ease-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(0.3deg);
	}
}
@keyframes pg3 {
	from, 10%, 90%, to {
		animation-timing-function: ease-in;
		background-color: var(--white-d);
		transform: translate3d(0,0,1px) rotateY(0.2deg);
	}
	15%, 20% {
		animation-timing-function: ease-in-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(0.2deg);
	}
	30%, 35% {
		animation-timing-function: ease-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(179.8deg);
	}
	40%, 60% {
		animation-timing-function: ease-in;
		background-color: var(--white-d);
		transform: translate3d(0,0,1px) rotateY(179.8deg);
	}
	65%, 70% {
		animation-timing-function: ease-in-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(179.8deg);
	}
	80%, 85% {
		animation-timing-function: ease-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(0.2deg);
	}
}
@keyframes pg4 {
	from, 20%, 80%, to {
		animation-timing-function: ease-in;
		background-color: var(--white-d);
		transform: translate3d(0,0,1px) rotateY(0.1deg);
	}
	25%, 30% {
		animation-timing-function: ease-in-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(0.1deg);
	}
	40%, 45% {
		animation-timing-function: ease-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(179.7deg);
	}
	50% {
		animation-timing-function: ease-in;
		background-color: var(--white-d);
		transform: translate3d(0,0,1px) rotateY(179.7deg);
	}
	55%, 60% {
		animation-timing-function: ease-in-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(179.7deg);
	}
	70%, 75% {
		animation-timing-function: ease-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(0.1deg);
	}
}
@keyframes pg5 {
	from, 30%, 70%, to {
		animation-timing-function: ease-in;
		background-color: var(--white-d);
		transform: translate3d(0,0,1px) rotateY(0);
	}
	35%, 40% {
		animation-timing-function: ease-in-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(0deg);
	}
	50% {
		animation-timing-function: ease-in-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(179.6deg);
	}
	60%, 65% {
		animation-timing-function: ease-out;
		background-color: var(--white);
		transform: translate3d(0,0,1px) rotateY(0);
	}
}
