

/* ---Login-Page--- */
.login {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.login .container {
  position: relative;
  z-index: 3;
}

.login h1,
.home .content h2 {
  width: 100%;
  height: 10rem;
  font-family: "Tilt Neon", sans-serif;
  --light-pos-x: 1;
  --light-pos-y: -1;
  --rim-size: .02ch;
  --shadow-offset: .1ch;
  --shadow-blur: .1ch;
  color: var(--c-blue-lg);
  font-size: 10vmin;
  letter-spacing: .075ch;
  text-shadow: calc(max(var(--rim-size), 1px)*var(--light-pos-x)) 
  calc(max(var(--rim-size), 1px)*var(--light-pos-y)) #fff,
  calc(max(var(--rim-size), 1px)*var(--light-pos-x)*-1) 
  calc(max(var(--rim-size), 1px)*var(--light-pos-y)*-1) #999,
  calc(var(--shadow-offset)*var(--light-pos-x)*-1) 
  calc(var(--shadow-offset)*var(--light-pos-y)*-1) var(--shadow-blur) hsla(0,0%,50%,.75);
}

.login p {
  display: block;
  width: 100%;
  height: calc(var(--l-lg3) * 2.6);
  font-family: 'Space Grotesk', sans-serif;
  color: var(--c-label-sm);
  font-size: clamp(var(--l-md2), calc(var(--size) * 1.2), var(--l-md3));
  font-weight: 400;
  line-height: 1.5;
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #393;
  border-radius: var(--l-sm3);
  box-shadow: 0 0 5px rgba(0,255,0,.2), inset 0 0 5px rgba(0,255,0,.1), 0 2px 0 #000;

  -webkit-animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both, 
                    glow-border 800ms ease-out infinite alternate;
          animation: fade-in-top 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) both, 
                    glow-border 800ms ease-out infinite alternate;
    animation-delay: 2.4s;
}
.login p::first-letter,
.home .content p::first-letter {
  color: var(--c-lyme);
  font-size: clamp(var(--l-md3), calc(var(--size) * 1.2), var(--l-lg1));
}

.home .content p {
  font-family: 'Space Grotesk', sans-serif;
  color: var(--c-label-sm);
  font-size: clamp(var(--l-md2), calc(var(--size) * 1.2), var(--l-md3));
  font-weight: 400;
  line-height: 1.5;
}

.dev_on_the_table {
  filter: var(--img-shadow-3);
  -webkit-animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation: scale-in-ver-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
          animation-delay: 1850ms;
}

/* ===Scroll-Progress=== */
.scroll_progress {
  position: fixed;
  /* z-index: 101; */
  top: 0;
  left: 0;
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 4px;
  border: none;
  background: transparent;
}
.scroll_progress::-webkit-progress-bar {
  background: transparent;
}
.scroll_progress::-webkit-progress-value {
  background: var(--c-orange);
}


/* ===Page-Style=== */
.main {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: var(--c-blue-lg);
  
}
.home_hero_wrapper {
  width: 100%;
  height: fit-content;
  background-image: var(--bg-home-hero);
  background-repeat: no-repeat;
  background-size: cover;
}
.banner_image_wrapper {
  position: relative;
}

.rings_pattern {
  position: absolute;
  top: 0;
  left: 0; 
  transform: rotate(15deg);
  z-index: 1;
}
.home_hero_img {
  filter: var(--img-shadow-1);
}

.divider_bottom,
.divider_rounded_top {
  position: relative;
  width: 100%;
  height: 100%;
}

/* ===Modal-Reader-Iframe-loader=== */
.book_loader {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--bg);
	color: var(--fg);
	font: 1em/1.5 sans-serif;
  width: 100%;
	height: 100vh;
	display: grid;
	place-items: center;
}
.book,
.book__pg-shadow,
.book__pg {
	animation: cover 7s ease-in-out infinite;
}
.book {
	background-color: var(--primary-l);
	border-radius: 0.25em;
	box-shadow:
		0 0.25em 0.5em hsla(0,0%,0%,0.3),
		0 0 0 0.25em var(--primary) inset;
	padding: 0.25em;
	perspective: 37.5em;
	position: relative;
	width: 8em;
	height: 6em;
	transform: translate3d(0,0,0);
	transform-style: preserve-3d;
}
.book__pg-shadow,
.book__pg {
	position: absolute;
	left: 0.25em;
	width: calc(50% - 0.25em);
}
.book__pg-shadow {
	animation-name: shadow;
	background-image: linear-gradient(-45deg,hsla(0,0%,0%,0) 50%,hsla(0,0%,0%,0.3) 50%);
	filter: blur(0.25em);
	top: calc(100% - 0.25em);
	height: 3.75em;
	transform: scaleY(0);
	transform-origin: 100% 0%;
}
.book__pg {
	animation-name: pg1;
	background-color: var(--white);
	background-image: linear-gradient(90deg,hsla(var(--hue),10%,90%,0) 87.5%,hsl(var(--hue),10%,90%));
	height: calc(100% - 0.5em);
	transform-origin: 100% 50%;
}
.book__pg--2,
.book__pg--3,
.book__pg--4 {
	background-image:
		repeating-linear-gradient(hsl(var(--hue),10%,10%) 0 0.125em,hsla(var(--hue),10%,10%,0) 0.125em 0.5em),
		linear-gradient(90deg,hsla(var(--hue),10%,90%,0) 87.5%,hsl(var(--hue),10%,90%));
	background-repeat: no-repeat;
	background-position: center;
	background-size: 2.5em 4.125em, 100% 100%;
}
.book__pg--2 {
	animation-name: pg2;
}
.book__pg--3 {
	animation-name: pg3;
}
.book__pg--4 {
	animation-name: pg4;
}
.book__pg--5 {
	animation-name: pg5;
}

/* ================== */


/* ---MediaQuery--- */
@media (width <= 1024px) {
  .login h1,
  .home .content h2 {
      font-size: 16vmin;
  }
  .login p {
    height: calc(var(--l-lg3) * 3.4);
  }
  .rings_pattern {
    top: 8%;
    left: 0; 
    transform: rotate(15deg);
  }
  .divider_bottom,
  .divider_rounded_top {
    max-height: 70px;
  }
  .list_item a {
    width: 2rem;
    height: 2rem;
  }
  .soc_icon {
      font-size: 1rem;
  }
}
@media all and (max-width: 400px) {
  .login p {
    height: calc(var(--l-lg3) * 3.8);
  }
  .login_link {
    font-size: 1.3rem;
  }
}

@media all and (max-width: 320px) {
  .login p {
    height: calc(var(--l-lg3) * 4.5);
  }
}