@import "~normalize.css/normalize.css";
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

/* ---Components-Style--- */
@import "./layouts/ui-styles.css";
/* ---------------------- */

/* font-family: 'Manrope', sans-serif;
font-family: 'Space Grotesk', sans-serif;
font-family: 'Tilt Neon', sans-serif; */

html {
  box-sizing: border-box;
  font-size: 100%;
}

*, 
*::before, 
*::after {
  box-sizing: inherit;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Manrope', sans-serif;
}

:root {
  --size: calc(1vh + 1vw);

  --c-navy: hsl(220, 51%, 23%);
  --c-blue-lg: hsl(220, 46%, 10%);
  --c-blue-md: hsl(248, 45%, 54%);
  --c-blue-sm: hsl(242, 51%, 70%);
  --c-dark: hsl(0, 0%, 5%);
  --c-orange: hsl(22, 89%, 55%);
  --c-lyme: hsl(118, 56%, 66%);
  --c-salad: hsl(186, 79%, 42%);
  --c-label: hsl(213, 9%, 58%);
  --c-label-lg: hsl(210, 11%, 71%);
  --c-label-md: hsl(216, 2%, 47%);
  --c-label-sm: hsl(211, 25%, 71%);
  --c-light: hsl(0, 0%, 100%);

  --transition-1: 250ms ease-in-out;
  --transition-2: 500ms ease-in-out;
  --transition-3: 750ms ease-in-out;
}