

/* ---Login-Btn--- */
.login_link {
    font-family: 'Urbanist', sans-serif;
    font-size: 2rem;
    font-weight: bold;
    color: var(--c-label-sm);
    text-decoration: none;
    outline: none;
    border: none;
    position: relative;
    transition: var(--transition);
}
.login_link span, 
.login_link .bi-arrow-right {
    position: relative;
    display: inline-block;
    transition: var(--transition);
}
.login_link span::first-letter {
    color: var(--c-coral);
}
.login_link:hover span::first-letter {
    color: var(--c-label-sm);
}
.login_link:hover span {
    color: var(--c-light);
}
.bi-arrow-right {
    transition: var(--transition);
}
.login_link .pink {
    width: 2em;
    height: 2em;
    border-radius: 2em;
    background-color: var(--c-blue-sm);
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -0.65em;
    box-shadow: 5px 5px 7px rgba(0, 0, 0, 0.25),
        inset 2px 2px 5px rgba(255, 255, 255, 0.5),
        inset -3px -3px 5px rgba(0, 0, 0, 0.5);
}
.login_link:active {
    outline: none;
    border: none;
    color: var(--c-light);
}
.login_link:hover .bi-arrow-right {
    color: var(--c-coral);
}
/* --------------- */